:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent: #2196f3;
  --white-text-color: #ffffff;
  --button-background-color: #f5f4fa;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый текст #FFFFFF */
/* футер адрес и телефон rgba(255, 255, 255, 0.6) */
/* копирайт rgba(255, 255, 255, 0.4) */
/* акцент #2196F3 */
/* body background #e5e5e5 */
/* header background rgba(0, 0, 0, 0.12) */

/* Section */
.portfolio-list {
  display: flex;
  margin-top: 93px;
  margin-bottom: 34px;
  justify-content: center;
}

.portfolio-list .unit:not(:last-child) {
  margin-right: 8px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.works-list .examples:nth-child(3n) {
  margin-right: 0;
}

.works-list .examples {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  border-radius: 5px;
  transition: all 250ms var(--cubic);
}

.works-list .examples:hover,
.works-list .examples:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.description {
  position: relative;
  overflow: hidden;
}

.section-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.explanation {
  position: absolute;
  bottom: 0;
  height: 100%;

  opacity: 0;
  margin: 0;
  padding: 63px 24px;

  color: var(--white-text-color);
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.examples:hover .explanation,
.examples:focus .explanation {
  opacity: 1;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
}

.content {
  padding: 20px 24px;
}

/* Button */
.button-primary {
  padding: 6px 32px;
  color: var(--primary-text-color);
  background-color: var(--button-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: bacground-color 250ms var(--cubic),
    border-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent);
  color: var(--white-text-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
