$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent: #2196f3;
$white-text-color: #ffffff;
$background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$button-background-color: #f5f4fa;
